body{
    margin: 0;
}
.header-container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
}
.header {
    grid-column: span 2;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: url('../ressources/Images/menu image.svg'); /* Relative path to your image */
    background-size: cover;
    background-position: center;
    position: relative;
    max-height: 462px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ddb0c2;
    opacity: 0.85; /* White color with 50% opacity */
    z-index: 1;
}

.header > * {
    position: relative;
    z-index: 2;
}
.logo{
    color: #35497d;
    font-size: 32px;
    font-family: "Jost";
    line-height: 42px;
    align-items: baseline;
    max-width: 100%;
    padding-left: 118px;
    justify-self: left;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.book.table {
    justify-self: end; /* Aligns to the right of its cell */
    align-self: center; /* Centers vertically in its cell */
    margin-right: 93px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.btn {
    cursor: pointer;
    top: 46px;
    left: 1136px;
    width: 192px;
    height: 64px;
    padding: 0px 8px;
    border: 1px solid #432a34;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 0px 10px rgba(3,3,3,0.1);
    background-color: #432a34;
    color: #ddb0c2;
    font-size: 20px;
    font-family: "Jost";
    line-height: 26px;
    outline: none;
}
.title{
    grid-column: span 2;
    color: #35497d;
    font-size: 82px;
    font-family: "Jost";
    line-height: 107px;
    text-align: center;
    margin: 20px auto;
}

/* Styling for the menu tabs */
.menu-tabs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    text-align: center; 
    max-width: 785px;
    margin: 55px auto; 
}

.menu-tabs-grid .tab {
    color: #35497d;
    font-size: 45px;
    line-height: 59px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 0; 
    cursor: pointer; 
    border-bottom: 3px solid transparent; 
}
.menu-tabs-grid > .tab:nth-child(1), .tab:nth-child(2) {
    border-right: 3px solid #432a34;;
}
.menu-tabs-grid > .tab:nth-child(2), .tab:nth-child(3) {
    color: #432a34;
}
a {
    text-decoration: none;
    color: #432a34;;
}
/* This targets the <a> tag directly within the element with ID 'tab-lunch' */
#tab-dinner a {
    color: #35497d; /* Change the color to #35497d */
}
/* Styling for the menu tabs content */
.menu-content-grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center; 
    max-width: 793px;
    margin: 74px auto;
}
.starters > h1 {
    color: #35497d;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.starters > p{
    color: #432a34;
    font-size: 24px;
    font-family: "Jost";
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
}
.entrees > h1{
    color: #35497d;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 39px;
}
.entrees > p{
    color: #432a34;
    font-size: 24px;
    font-family: "Jost";
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
}
.desserts > h1{
    color: #35497d;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 39px;
}
.desserts > p{
    color: #432a34;
    font-size: 24px;
    font-family: "Jost";
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
}
.drinks > h1{
    color: #35497d;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-top: 39px;
}
.drinks > p{
    color: #432a34;
    font-size: 24px;
    font-family: "Jost";
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
}
/* Styles for mobile */
@media (max-width: 768px) {
    .header-container-grid {
        grid-template-columns: 1fr;
    }

    .starters,
    .entrees,
    .desserts,
    .drinks {
        grid-template-columns: 1fr;
    }
}